$button-color = greenyellow

.parentClear:after
    clear: both
    content: ""
    display: table

.long-text
    white-space: pre-line
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical

.buttonStyle
    color: white
    background-color: $button-color

.news-block 
    width: 30%
    float: left
    margin: 1px